<div class="row-container flex-size-2" id="titleBar">
  <div class="col-container" id="titleContainer">
    <h3 id="title">{{ curProject.title }}</h3>
    <h4 id="subTitle">{{ curProject.subtitle }}</h4>
  </div>
  <img id="titleIcon" [src]="curProject.projectIconUrl" />
</div>

<div class="row-container flex-size-8" id="contentBar">
  <img id="contentImage" [src]="curProject.image" />
  <p id="contentText" [innerHtml]="curProject.description"></p>
</div>

<div class="row-container flex-size-1" id="footerBar">
  <div class="row-container" id="techIconContainer">
    <img
      *ngFor="let iconUrl of curProject.techIconsUrls; let i = index"
      [src]="iconUrl"
      id="techIcon"
      [alt]="curProject.techIconsNames[i]"
      [title]="curProject.techIconsNames[i]"
    />
  </div>

  <div id="navButtons">
    <button id="leftButton" (click)="prevProject()">
      <img
        class="pageButton"
        src="assets/graphics/LeftArrow.svg"
        alt="leftbutton"
      />
    </button>
    <button id="rightButton" (click)="nextProject()">
      <img
        class="pageButton"
        src="assets/graphics/RightArrow.svg"
        alt="rightbutton"
      />
    </button>
  </div>
</div>
