:host {
  justify-content: space-evenly;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#titleBar {
  justify-content: space-between;
  align-items: center;
}

#title {
  margin-top: 0px;
  margin-bottom: 0px;
}

#subTitle {
  margin-top: 0px;
  margin-bottom: 0px;
}

#titleIcon {
  width: 5vw;
  height: 5vw;
}

#techIconContainer {
  justify-content: flex-start;
  width: 40%;
}

#techIcon {
  width: 2.5vw;
  height: 2.5vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

#contentBar {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}

#contentImage {
  width: 40%;
  height: auto;
  object-fit: contain;
}

#contentText {
  width: 55%;
  padding-left: 10px;
  padding-right: 10px;
}

#footerBar {
  align-items: center;
  justify-content: space-between;
}

#leftButton,
#rightButton {
  background-color: transparent;
  border: none;
}

.pageButton {
  width: 4vw;
  height: 4vw;
}
