<h1 class="top-left-text">HI, MY NAME IS KEPING LE</h1>
<img class="top-left-graphic" src="assets/graphics/aboutMeTopLeftGraphic.png" />
<div #centerImageContainer class="background-image-container">
  <img #centerImage class="background-image-base" [src]="centerImageUrl" />
  <img
    #centerImageOverlay
    class="background-image-overlay clipped overlay"
    [src]="centerImageOverlayUrl"
  />
</div>

<div class="spacer"></div>

<div class="bottom-right-text-container">
  <div class="aboutme-row">
    <div class="spacer"></div>
    <h2 class="bottom-right-text">Full Stack Dev</h2>
    <span class="emoji">👨‍💻</span>
  </div>
  <div class="aboutme-row">
    <div class="spacer"></div>
    <h2 class="bottom-right-text">A wanna-be designer</h2>
    <span class="emoji">🧩</span>
  </div>
  <div class="aboutme-row">
    <div class="spacer"></div>
    <h2 class="bottom-right-text">Used to be photographer</h2>
    <span class="emoji">📷</span>
  </div>
  <div class="aboutme-row">
    <div class="spacer"></div>
    <h2 class="bottom-right-text">Snowboarding instructor</h2>
    <span class="emoji">🏂</span>
  </div>
  <div class="aboutme-row">
    <div class="spacer"></div>
    <h2 class="bottom-right-text">2023 UTSC CompSci Gradutes</h2>
    <span class="emoji">🎓</span>
  </div>

  <div
    #bottomRightTextOverlay
    class="bottom-right-text-container overlay clipped"
  >
    <div class="aboutme-row">
      <div class="spacer"></div>
      <h2 class="bottom-right-text bottom-right-inverted">
        AngularJS, NodeJS, PostgreSQL,...
      </h2>
      <span class="emoji">👨‍💻</span>
    </div>
    <div class="aboutme-row">
      <div class="spacer"></div>
      <h2 class="bottom-right-text bottom-right-inverted">
        Photoshop, Blender ,...
      </h2>
      <span class="emoji">🧩</span>
    </div>
    <div class="aboutme-row">
      <div class="spacer"></div>
      <h2 class="bottom-right-text bottom-right-inverted">
        <a
          href="https://lkpklkkle7bc4.myportfolio.com/copy-of-some-videos"
          target="_blank"
          >Check out my dusty photo gallery</a
        >
      </h2>
      <span class="emoji">📷</span>
    </div>
    <div class="aboutme-row">
      <div class="spacer"></div>
      <h2 class="bottom-right-text bottom-right-inverted">
        Coming in December....
      </h2>
      <span class="emoji">🏂</span>
    </div>
  </div>
</div>

<div
  #mouseCircle
  *ngIf="mouseIsHere"
  id="mouse-circle"
  [style.top]="mouseTop"
  [style.left]="mouseLeft"
></div>
