:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  height: 100%;
}
.top-left-text {
  font-size: 2vw;
}
.background-image-container {
  position: absolute;
  left: 0;
  width: 100%;
  top: 30%;
  height: 50%;
}
.background-image-base {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-image-width: 0;
  background-image: url("../../../../assets/graphics/aboutMeCenterGraphic.png");
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.background-image-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-image-width: 0;
  background-image: url("../../../../assets/graphics/aboutMeCenterGraphicOverlay.png");
}

.top-left-text {
  flex-basis: 1;
}
.top-left-graphic {
  flex-basis: 1;

  width: 70%;
}
.spacer {
  flex: 1;
}

.bottom-right-text-container {
  flex-basis: 2;
  align-items: right;
  text-align: right;
  justify-content: right;
  display: flex;
  flex-direction: column;
}
.bottom-right-text {
  padding: 5px;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}
.inverted {
  background-color: #e0e0e0;
  filter: invert(1);
}

#mouse-circle {
  position: absolute;
  width: 6vw;
  height: 6vw;
  margin: -3vw 0 0 -3.5vw;
  border: 4px dotted #3d3c3c;
  border-radius: 50%;
  pointer-events: none;
}
.clipped {
  clip-path: circle(3vw at var(--x, 0) var(--y, 0));
}
.bottom-row {
  display: flex;
  flex-direction: row;
  justify-self: space-between;
}
