<h1 class="top-left-text">HI, MY NAME IS KEPING LE</h1>
<img class="top-left-graphic" src="assets/graphics/aboutMeTopLeftGraphic.png" />
<img class="background-image" />
<div class="spacer"></div>
<div class="bottom-right-text-container">
  <h2 class="bottom-right-text">Full Stack Dev</h2>
  <h2 class="bottom-right-text">wanna be designer</h2>
  <h2 class="bottom-right-text">used to be photographer</h2>
  <h2 class="bottom-right-text">actually snowboarding coach</h2>
  <h2 class="bottom-right-text">UTSC 2023 CompSci Gradutes</h2>
</div>
