<div class="overlay-container-top-left">
  <div class="row">
    <img #iconOne class="side-icon" src="assets/graphics/1.png" />
    <div class="progress-bar-outer">
      <div #progressBarOne class="progress-bar-inner"></div>
    </div>
  </div>

  <div class="row">
    <img #iconTwo class="side-icon" src="assets/graphics/2.png" />
    <div class="progress-bar-outer">
      <div #progressBarTwo class="progress-bar-inner"></div>
    </div>
  </div>

  <div class="row">
    <img #iconThree class="side-icon" src="assets/graphics/3.png" />
    <div class="progress-bar-outer">
      <div #progressBarThree class="progress-bar-inner"></div>
    </div>
  </div>
</div>

<div #turnHintContainer class="overlay-bottom-container">
  <div>
    <img #turnIcon id="turnIcon" src="assets/graphics/turn.svg" />
    <p id="turnHint">Click and drag</p>
  </div>
</div>

<div
  #pageIndicatorContainer
  id="pageIndicatorContainer"
  class="overlay-bottom-container"
>
  <div>
    <span #pageIndicatorAbout class="pageIndicatorIcon"></span>
    <span #pageIndicatorProjects class="pageIndicatorIcon"> </span>
    <span #pageIndicatorCredits class="pageIndicatorIcon"> </span>
  </div>
</div>
<div
  *ngIf="turnHintUsed"
  #gravityIconsFrameContainer
  class="overlay-bottom-container"
>
  <div>
    <span
      (click)="onClickPageIndicator(ContentTag.ABOUTME)"
      class="gravity-icon-frame-circle"
    ></span>
    <span
      (click)="onClickPageIndicator(ContentTag.PROJECTS)"
      class="gravity-icon-frame-circle"
    ></span>
    <span
      (click)="onClickPageIndicator(ContentTag.CREDITS)"
      class="gravity-icon-frame-circle"
    ></span>
  </div>
</div>
