/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url("assets/graphics/gradient-noisy-bg.png");
  background-size: cover;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
