:host {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 120px 70px 120px 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ff6000;
  padding: 5%;
}

@media screen and (max-aspect-ratio: 1/1) {
  :host {
    width: 80%;
    height: 80%;
    margin-top: 30px;
  }
}
