<div #neutral [hidden]="currentView !== contentTag.NOCONTENT">
  <h1 [innerHTML]="nocontentRandString"></h1>
</div>

<div
  #aboutMe
  [hidden]="currentView !== contentTag.ABOUTME"
  class="content-container"
>
  <app-about-me></app-about-me>
</div>
<div
  #projects
  [hidden]="currentView !== contentTag.PROJECTS"
  class="content-container"
>
  <app-project-page></app-project-page>
</div>

<div
  #skills
  [hidden]="currentView !== contentTag.SKILLS"
  class="content-container"
>
  <app-skills></app-skills>
</div>
